<div class="row">
  <div class="col-sm-6 col-xl-3">
    <a href="javascript:void(0)">
      <div class="card card-body bg-blue-400 has-bg-image">
        <div class="media">
          <div class="media-body">
            <h3 class="mb-0">00</h3>
            <span class="text-uppercase font-size-xs">Products</span>
          </div>
          <div class="ml-3 align-self-center">
            <i class="icon-stack4 icon-3x opacity-75"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-xl-3">
    <a href="javascript:void(0)">
      <div class="card card-body bg-success-400 has-bg-image">
        <div class="media">
          <div class="media-body">
            <h3 class="mb-0">00</h3>
            <span class="text-uppercase font-size-xs">Products</span>
          </div>
          <div class="ml-3 align-self-center">
            <i class="icon-stack-check icon-3x opacity-75"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-xl-3">
    <a href="javascript:void(0)">
      <div class="card card-body bg-danger-400 has-bg-image">
        <div class="media">
          <div class="media-body">
            <h3 class="mb-0">00</h3>
            <span class="text-uppercase font-size-xs">Products</span>
          </div>
          <div class="ml-3 align-self-center">
            <i class="icon-stack-cancel icon-3x opacity-75"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-xl-3">
    <a href="javascript:void(0)">
      <div class="card card-body bg-indigo-400 has-bg-image">
        <div class="media">
          <div class="media-body">
            <h3 class="mb-0">00</h3>
            <span class="text-uppercase font-size-xs">Products</span>
          </div>
          <div class="ml-3 align-self-center">
            <i class="icon-stack-text icon-3x opacity-75"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>